os: linux
dist: focal
language: node_js
node_js: 10

jobs:
  include:
    - stage: "Lint"
      name: "Lint"
      script:
        - npm run lint
    - name: "Test"
      script:
        - npm run test
        - npm run coveralls
